<!-- <button type="button" routerLink="/CardLink">Go to sidekicks</button>

<button type="button" routerLink="/MenuLink">Go to sidekicks</button>

<router-outlet></router-outlet>                          -->

  <app-menu></app-menu>

  <div class="container">
    <router-outlet></router-outlet>
  
  
    
      
  </div>
  
  
  <div class="footer">
  
    <mat-list role="list">
      <mat-list-item role="listitem">Instagram: @Suplementin</mat-list-item>
      <mat-list-item role="listitem">Email: Atendimento@Suplementin.com</mat-list-item>
      <mat-list-item role="listitem">Telefone: (41) 99866-6595</mat-list-item>
    </mat-list>
  
  </div>