<div class="LoginPageContent">
    <div class="LoginFormContent">

        <form class="LoginForm">
            <div class="mb-3">
                <label class="form-label">Nome Completo</label>
                <input type="text" class="form-control" formControlName="Name" maxlength="80">
            </div>
            <div class="mb-3">
                <label class="form-label">CPF</label>
                <input type="text" class="form-control" formControlName="Cpf" maxlength="80">
            </div>
            <div class="mb-3">
                <label class="form-label">Telefone</label>
                <input type="tel" class="form-control" formControlName="Telefone" maxlength="80">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" formControlName="Email" maxlength="80">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="PassWord" maxlength="26">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>