<!-- <div class="card">
    <div class="card_image">
        <img src="https://placehold.co/400" />
    </div>
    <div class="card_body">
        <h1>Whey Protein Monstro</h1>
        <h2>R$ 200,00</h2>

        <div class="card_button">
            <button>Ver Produto</button>

        </div>
    </div>


</div> -->
<div class="card">
    <div class="card-image">  
        <img src="../../../assets/whey2.jpg" class="card-img-top" alt="Produto">

    </div>
    <div class="card-body">
      <h5 class="card-title">Whey Protein Monstro</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="/produto" class="btn btn-primary">Go somewhere</a>
    </div>
</div>