<div class="LoginPageContent">
    <div class="LoginFormContent">

        <form class="LoginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Email" maxlength="80">
            </div>
            <div *ngIf="loginForm.controls['Email'].invalid && loginForm.controls['Email'].dirty">
                <p style="color: red;">Email Inválido
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <div class="input-group">
                    <input type={{inputType}} class="form-control" id="exampleInputPassword1" formControlName="PassWord" maxlength="26">
                    
                    <button type="button" (click)="togglePasswordVisibility()" class="btn btn-secondary">
                        <i [ngClass]="{'fa fa-eye': inputType == 'text', 'fa fa-eye-slash': inputType == 'password'}"></i>
                    </button>
                </div>
                <div *ngIf="loginForm.controls['PassWord'].invalid &&loginForm.controls['PassWord'].dirty">
                    <br />
                    <p style="color: red;">A senha deve conter: <br /> - Letra Maiuscula<br /> - Número<br /> - Caracteres Especiais</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Enviar</button>
        </form>

    </div>
</div>