.Menu-opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.Opcoes{
    margin: 5px 8px;
    text-decoration: none;
    color: white;
}
.logo{
    text-decoration: none;
    color: white;
}
.mat-toolbar{
    background-color: rgb(95, 0, 20);
}