
<div class="center-content">

    <div class="product-details">

        <div class="imagem">
            <img src="" alt="Product Image" [src]="'../../../Images/' + dataSource.url" height="600" width="600"> <!-- Imagem -->            
        </div>
        <div class="nome"   >
            <h2 style="font-size: 3rem;">{{this.dataSource.nome}}</h2> <!-- Nome -->
            <div class="texto">
                <p>
                    {{this.dataSource.descricao}}
                </p> <!-- Descrição -->           
            </div>
            
            <div class="descricao">
                <p>Peso:{{this.dataSource.peso+" "+this.dataSource.medidaPeso}}</p> <!-- Peso + Medida Peso -->
                <p>Marca: {{this.dataSource.marca}}</p> <!-- Marca -->
    
                <h2>Preço: R${{this.dataSource.valor}}</h2> <!-- Preço -->
                <button class="botaoCart" id="addToCart" (click)="adicionarCarrinho(this.dataSource.id || 0)">Adicionar ao carrinho</button>                    
            </div>

        </div>
            
        
    </div>
</div>        

