
<div class="center-content">

    <div class="product-details">

        <div class="imagem">
            <img src="" alt="Product Image"> <!-- Imagem -->            
        </div>

        <div class="nome"   >
            <h2 style="font-size: 3rem;">Creatina Soldiers 1kg</h2> <!-- Nome -->
            <div class="texto">
                <p>
                    Creatina monohidratada 100% puro Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quis facilis minima quas, pariatur eveniet voluptatem id quidem iste numquam accusamus officia 
                    voluptates sunt reiciendis assumenda perspiciatis fugit modi amet soluta?
                </p> <!-- Descrição -->           
            </div>

        </div>


        <div class="descricao">
            <p>Marca: </p> <!-- Marca -->
            <p>Peso: </p> <!-- Peso + Medida Peso -->

            <h2>Preço: R$250,00</h2> <!-- Preço -->
            <button class="botaoCart" id="addToCart">Adicionar ao carrinho</button>                    
        </div>
            
        
    </div>
</div>        

