.divLogin {
    background-color: white	;
    padding: 20px;
    border-radius: 2rem;
    width: 40vw;
    margin: 5vw;
    justify-content: center;
}

@media only screen and (max-width: 780px) {
    .divLogin{
        width: 80vw;
    }
  }

.botaoLogin {
    width: 30%;
    background-color: #6f2232;
}

h1{
    color: black;
}