<form class="row g-3 text-white divLogin">
    <h1>Login</h1>

    <div class="mb-3">

      <label for="exampleInputEmail1" class="form-label">Usuário</label>
      <input placeholder="Usuário" type="text" class="form-control border-2" id="user">

    </div>

    <div class="mb-3">

      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input placeholder="Senha" type="password" class="form-control border-2" id="password">
   
    </div>

    <button type="submit" class="btn btn-primary bg-success border-0 botaoLogin">Entrar</button>

  </form>