<!-- 
<div class="search-container">
    <input type="text" placeholder="Pesquisar...">
    <button class="search-button">Pesquisar</button>
</div> -->

<section class="product-list" >
    
    <div class="product" *ngFor="let users of this.dataSource;">
        <h2>{{users.nome+" "+users.marca+" "+users.peso +" "+users.medidaPeso}}</h2>
        <img src='https://placehold.co/200' alt="Imagem">
        <p>Preço: R${{users.valor}}</p>
        <button class="add-to-cart" (click)="adicionarCarrinho(users.id || 0)"><a>Adicionar ao Carrinho</a></button>
    </div>
    
</section>

