.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.add-to-cart {
    background-color: rgb(161, 161, 38);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #555;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 7rem;
}

input[type="text"] {
    width: 200px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.search-button {
    color: white;
    padding: 7px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    margin-left: -40px;
    cursor: pointer;
}

