<!-- 
<div class="search-container">
    <input type="text" placeholder="Pesquisar...">
    <button class="search-button">Pesquisar</button>
</div> -->

<section class="product-list">

    <div class="product" *ngFor="let produto of dataSource;">
        <h2>{{produto.nome + ' ' + produto.marca + ' ' + produto.peso + ' ' + produto.medidaPeso}}</h2>
        <img [src]="'/../../../../../assets/' + produto.url" [alt]="produto.url ? produto.nome : 'Imagem Indisponível'" height="120" width="120">
        <p>Preço: R$ {{produto.valor}}</p>
        <button class="add-to-cart" (click)="adicionarCarrinho(produto.id || 0)">
            <a>Adicionar ao Carrinho</a>
        </button>
    </div>

</section>