<!-- 
<div class="search-container">
    <input type="text" placeholder="Pesquisar...">
    <button class="search-button">Pesquisar</button>
</div> -->

<section class="product-list" >
    
    <div class="product" *ngFor="let produtos of this.dataSource;">
        <h2>{{produtos.nome+" "+produtos.marca+" "+produtos.peso +" "+produtos.medidaPeso}}</h2>
        <img src="" alt="{{produtos.url || produtos.nome}}">
        <p>Preço: R${{produtos.valor}}</p>
        <button class="add-to-cart" (click)="adicionarCarrinho(produtos.id || 0)"><a>Adicionar ao Carrinho</a></button>
    </div>
    
</section>

