.ProdutoList {
    margin: 30px 10px;
}

.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: lightgray;

}

.demo-row-is-clicked {
    font-weight: bold;
    background-color: lightgray;
}