.footer{
    margin-top: 50px;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: azure;
    align-self: flex-end;
    padding-left: 4vw;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
