<p>
  <mat-toolbar>
    <span>Suplementin</span>
  </mat-toolbar>
</p>
<div class="container">

  <div class="card">
    <div class="card_image">

    </div>
    <div class="card_body">
        <h1>Whey Protein Monstro</h1>
        <h2>R$ 200,00</h2>

    </div>
    <div class="card_button">
        <button>Ver Produto</button>

    </div>
    
  </div>


  <div class="card">
    <div class="card_image">

    </div>
    <div class="card_body">
        <h1>Whey Protein Monstro</h1>
        <h2>R$ 200,00</h2>

    </div>
    <div class="card_button">
        <button>Ver Produto</button>

    </div>
    </div>
    


  <div class="card">
    <div class="card_image">

    </div>
    <div class="card_body">
        <h1>Whey Protein Monstro</h1>
        <h2>R$ 200,00</h2>

    </div>
    <div class="card_button">
        <button>Ver Produto</button>

    </div>
    
</div>

</div>


<div class="footer">

  <mat-list role="list">
    <mat-list-item role="listitem">Instagram: @Suplementin</mat-list-item>
    <mat-list-item role="listitem">Email: Atendimento@Suplementin.com</mat-list-item>
    <mat-list-item role="listitem">Telefone: (41) 99866-6595</mat-list-item>
  </mat-list>

</div>