

<div class="titulo"><h1>Meus pedidos</h1></div>

<table class="cart">
    <thead>
        <tr>    
            <th>Id</th>
            <th>Itens</th>
            <th>Preço</th>
            <th>Data</th>
            <th>Método de Pagamento</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of this.pedidoSource">

            <td>{{pedido.id}}</td>
            <td>{{pedido.produto}}</td>
            <td>{{pedido.valor}}</td>
            <td>{{pedido.dataEntrega}}</td>
            <td>{{pedido.metodo}}</td>
            <td>{{pedido.entrega}}</td>
            
        </tr>

    </tbody>
</table>


