

<div class="titulo"><h1>Meus pedidos</h1></div>

<table class="cart">
    <thead>
        <tr>
            <th>ID</th>
            <th>Itens</th>
            <th>Preço</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of this.produtosPedido">
            <td><a href="">1</a></td> <!-- id -->

            <td>
            </td> <!-- produtos -->

            <td></td> <!-- preço -->

            <td>21/12/2023</td> <!-- data -->

            
        </tr>

    </tbody>
</table>


