*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans,sans-serif;
}
body,html,:root{
    min-height: 100vh;
    background-color: #EFEFEF;
    overflow-x: hidden;
    min-width: 280px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
