.Menu-opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.Opcoes{
    margin: 5px 8px;
    text-decoration: none;
    color: #000;
}
.logo{
    text-decoration: none;
    color: #000;
}