#FormularioID{
    background-color: white;
    padding: 10px;
    border-radius: 2rem;
    width: 80vw;
    margin: 5vw;
    justify-content: center;
}
h1{
    color: black;
}

.botaoCad {
    width: 30%;
    background-color: #6f2232;
}
