<form style="background-color: white;padding: 10px;">

    <div class="mb-3">

        <label for="InputEmail" class="form-label">Login</label>
        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp">
  
      </div>

      <div class="mb-3">
        <label for="InputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="InputName">
      </div>
  
      <div class="mb-3">
  
        <label for="InputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" id="InputPassword">
     
      </div>
  
      <button type="submit" class="btn btn-primary bg-success">Entrar</button>
    
</form>