
    <div class="titulo"><h1>Carrinho de Compras</h1></div>

    <table class="cart">
        <thead>
            <tr>
                <th>Nome do Produto</th>
                <th>Marca</th>
                <th>Peso</th>
                <th>Preço</th>
                <th>Apagar</th>
            </tr>
        </thead>
        <tbody *ngFor="let produtos of this.produtosCarrinho">
            <tr >
                <td>{{produtos.nome}}</td> <!-- Nome -->
                <td>{{produtos.marca}}</td> <!-- Marca -->
                <td>{{produtos.peso+" "+produtos.medidaPeso}}</td> <!-- Peso + Medida Peso -->
                <td>R${{produtos.valor}}</td> <!-- Preço -->
                <td class="remover"><button class="remove-button">Apagar</button></td>
            </tr>

        </tbody>
    </table>

    <div class="botao"><button id="checkout" class="checkout-button">Finalizar Compra</button></div>
