
<!-- Modal criação de produtos -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Produto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="formPagamento" [formGroup]="pagamentoForm">
                <div class="form-group">
                    <label for="tipoPagamento">Selecione o Método de Pagamento:</label>
                    <select class="form-control" id="tipoPagamento" formControlName="Metodo" (change)="setMetodo()">
                        <option value="pix">Pix</option>
                        <option value="cartao">Cartão de Crédito</option>
                        <option value="boleto">Boleto Bancário</option>
                    </select>
                </div>
            
                <!-- Campos específicos para Pix -->
                <div id="pixCampos" [style.display]="pixStyle">
                    <div class="form-group">
                        <label for="chavePix">Chave Pix:</label>
                        <br />
                        <img src="../../../../assets/qrcode.png" alt="" width="100" height="100">
                    </div>
                </div>
            
                <!-- Campos específicos para Cartão -->
                <div id="cartaoCampos" [style.display]="cartaoStyle">
                    <div class="form-group">
                        <label for="numeroCartao">Número do Cartão:</label>
                        <input type="text" class="form-control" id="numeroCartao" placeholder="**** **** **** ****" maxlength="16">
                    </div>
            
                    <div class="form-group">
                        <label for="dataValidade">Data de Validade:</label>
                        <input type="text" class="form-control" id="dataValidade" placeholder="MM/AA" maxlength="4">
                    </div>

                    <div class="form-group">
                      <label for="CVC">CVC:</label>
                      <input type="text" class="form-control" id="CVC" placeholder="***" maxlength="3">
                  </div>
                    <!-- Adicione outros campos necessários para cartão -->
                </div>
            
                <!-- Campos específicos para Boleto -->
                <div id="boletoCampos" [style.display]="boletoStyle">
                    <div class="form-group">
                        <label for="cpfBoleto">CPF do Pagador:</label>
                        <input type="text" class="form-control" id="cpfBoleto">
                    </div>
                    <!-- Adicione outros campos necessários para boleto -->
                </div>
            </form>
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" [disabled]="pagamentoForm.controls['Metodo'].invalid" data-bs-dismiss="modal"(click)="realizarPagamento()">Finalizar Compra</button>

             
            </div>
        </div>
    </div>
</div>


<div class="titulo">
    <h1>Carrinho de Compras</h1>
</div>

<table class="cart">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Marca</th>
            <th>Peso</th>
            <th>Preço</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody *ngFor="let produtos of this.produtosCarrinho">

        <tr>
            <td>{{produtos.nome}}</td> <!-- Nome -->
            <td>{{produtos.marca}}</td> <!-- Marca -->
            <td>{{produtos.peso+" "+produtos.medidaPeso}}</td> <!-- Peso + Medida Peso -->
            <td>R${{produtos.valor}}</td> <!-- Preço -->
            <td class="remover"><button class="remove-button" (click)="removerProduto(produtos.id||0)">Apagar</button>
            </td>
        </tr>

    </tbody>

    <tbody>

        <tr>
            <td></td> <!-- Nome -->
            <td></td> <!-- Marca -->
            <td><b>Total:</b> </td> <!-- Peso + Medida Peso -->
            <td>R${{this.total}}</td> <!-- Preço -->
            <td></td>
        </tr>

    </tbody>
</table>

<div class="botao"><button id="checkout" [disabled]="produtosCarrinho.length===0" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Finalizar Compra</button></div>


